body {
  font-family:Helvetica, Aria, sans-serif;
}

.header {
  height: 80px;
  background: #F8DA59
}

.header img {
  height: 100%  
}

h1 {
  font-size: 19px;
}

input[type="text"] {
  padding: 5px;
  font-size: 15px;
  float: left
}

input[type="button"] {
  border: 0px;
  font-size: 12px;
  padding: 8px;
}

.footer {
  font-size: 11px
}
